<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
<title>Student roster</title>
</head>
<body>

<div th:if="${student == null}">
<h1>Student not found</h1>
<a href="/students">Back</a>
</div>
<div th:if="${student != null}">
	<div class="navbar bg-dark text-white">
		<h1><span th:text = "${student.getSelectOptionString()}"></span></h1>
		<a href="/students">Students</a>
		<a href="/classes">All classes</a>
	</div>
	<div class="row">
		<div class="card mb-5 p-3 mt-3 col-6">
			<form method ="get" action="/classes/addStudent">
				<div>
			 	<label for="id">Select Classes</label>
			    <select class="form-control" name="class_id">
			            <option th:each="class: ${availableClasses}"
			            th:text="${class.getName()}"
			            th:value="${class.getId()}"></option>				   
			    </select>
			    <input type="hidden" th:value="${student.getId()}" name="student_id">
				</div>
				<div>
					<button type= "submit" class="btn btn-primary mt-3">Add Class</button>
				</div>
			</form>
		</div>
	</div>
	<div class= "">
		<table class="table">
		  <thead>
		    <tr >
		      <th scope="col">Name</th>
		      <th scope="col">Action</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr th:each="class: ${student.getClasses()}">
		       	<td>
		     		<a th:href=@{/classes/{path}(path=${class.getId()})}> 
						<span th:text="${class.getName()}"></span>
				 	</a> 
	       		 </td>
		       	<td>
		       		<form action="/classes/removeStudent">
		       		<input type="hidden" th:value="${student.getId()}" name="student_id">
		       		<input type="hidden" th:value="${class.getId()}" name="class_id">
		       		<button class="btn btn-link" type="submit">Drop</button>
		       		</form>	       		
		       	</td>
		    </tr>
		    
		  </tbody>
		</table>
	</div>
</div>


</body>
</html>