.guide{
	border: solid 2px fuchsia;
}
#app{
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
}
.data{
	overflow:scroll;
	overflow-x: hidden;
	height: 60%;
}
.new_language{
	 height: 40%;
	 display: flex;
	 align-items: center;
	 justify-content: flex-end;
	 width: 99%;	
}
.new_language_form{
	width: 40%;	
}
.button_action_container{
	display:flex;
}