body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/black-felt.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.img_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.house_img {
    width: 90%;
    height: 90%;
    border: 2px inset rgb(0, 0, 0);
}

.house_img:hover {
    transform: scale(0.9);
}

.guide {
    border: 2px solid rgb(255, 0, 170);
}

.bg-dark {
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/black-scales.png");
    border: 1px groove rgb(185, 152, 2);
}