body {
    background-image: url("https://www.transparenttextures.com/patterns/batthern.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
header{
    position: static;
    bottom : 100%
}
h2{
    font-size: 10px;
}