<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">'
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
<title>Lookify</title>
</head>
<body>
<div>Title : <span th:text="${song.getTitle()}"></span></div>
<div>Artist : <span th:text="${song.getArtist()}"></span></div>
<div>Rating : <span th:text="${song.getRating()}"></span></div>
<div>ID : <span th:text="${song.getId()}"></span></div>
<div class="btn btn-link"><a href="/dashboard">Dashboard</a></div>
<form action ="#" method="post" th:action="@{/songs/delete/{path}(path=${song.getId()})}">
	<button type="submit" class="btn btn-link">Delete</button> 
</form>

</body>
</html>