<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
<title>Top Ten Songs!</title>
</head>
<body>
<div id="app">
	<div class= "navbar bg-dark text-white">
	<h1>Lookify</h1>
	<div class="">
		<a class="btn btn-link" href= "/dashboard">Dashboard</a>
	</div>

	</div>
	<div class= "data card">
		<table class="table">
		  <thead>
		    <tr >
		      <th scope="col">Position</th>
		      <th scope="col">Title</th>
		      <th scope="col">Artist</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr th:each="song,i: ${songs}">
		      
		      <td  th:text="${i.count}"></td>
		      <td>
			      <a th:href=@{/songs/{path}(path=${song.id})}> 
				      <span th:text="${song.getTitle()}"></span>
			      </a> 
		      </td>
		      <td>
		      <span th:text="${song.getArtist()}"></span>
		      </td>
		    </tr>
		  </tbody>
		</table>
	</div>
</div>
</body>
</html>